<!DOCTYPE html>

<html>

<head>
<title>Battle Plan</title>
<meta name="robots" content="noindex, nofollow">
<!-- Include CSS File Here -->
<!-- <link rel="stylesheet" href="css/style.css"/>-->
<!-- Include CSS File Here -->

<script type="text/javascript" src="/javascripts/jquery-3.2.1.min.js"></script>

<script type="text/javascript" src="/javascripts/login.js"></script>

</head>
<body>
<div class="container">
<div class="main">
<form class="form" method="post" action="#">
<table id="table">

<tr>
<td>
<label>Username :</label>
<input type="text" name="username" id="username" value="testuser">
</td>
</tr>

<tr>
<td>
<label>Password :</label>
<input type="password" name="password" id="password" value = "testpass">
</td>
</tr>

<tr>
<td>
<input type="button" name="login" id="login" value="Login">
</td>
</tr>


</table>
</form>

</div>
</div>
<div class="messages" style="display:none;" id="message"></div>
</body>



</html>
